.button{
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 1.5s; /* thời gian của hiệu ứng chuyển động */
	cursor: pointer;
	margin: 5px;
}