.epizy{
	opacity: 0.6;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100%;
    color: #F9E119;
    z-index: 4;
    text-align: left;
    margin-left: 0px;
}
/*biểu tượng infinityFree.net*/