*{
	border: none;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
/* reset css và chọn font */

/* html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
} */
/*đặt kích thước cho html và body là 1 màn hình,
	Đặt html rồi mới đặt được body */

p{
	color: white;
}
/* đặt màu của thẻ p là màu trắng */

.khoiTo{
	background-image: url("../img/pexels-photo.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}
/* đặt hình nền và kích thước cho khoiTo là 1 màn hình */

.manHinhDen{
	background-color: #00000059;
	width: 100%;
	height: 100%;
	display: flex;
		justify-content: center;
		align-items: center;
}

.khoiDen{
	background-color: #00000059;
	width: 60%;
	height: 50%;
}
/* đặt màu background #00000059 lên hình nền và đặt flex box chia các layout bên trong khối đen */

.text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*Layout trên cùng của khối đen*/

h2{
	color: white;
	font-size: 60px;
	font-weight: lighter;
}
/*dòng chữ tiêu đề Trần Khương*/

#txt1{
	color: white;
	text-align: center;
	line-height: 25px;
	margin: 25px 0px;
}
/*dòng mô tả bên dưới Welcome... */

.timKiem{
	width: 100%;
	text-align: center;
}
/*Layout thứ 2, khung tìm kiếm*/

.timKiem input{
	width: 80%;
	height: 50px;
	font-size: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
/*ô nhập chữ để tìm kiếm*/

.timKiem i{
	background-color: #0D7CC9;
	color: white;
	font-size: 20px;
	padding: 15px;
	position: relative;
	top: 2px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*nút tìm kiếm*/

.gioiThieu{
	display: flex;
	flex-direction: row;
	position: relative;
	top: 40px;
	width: 100%;
	justify-content: space-around;
}
/*Layout dưới cùng, các liên kết*/

._1khoi{
	width: 175px;
	height: 93px;
	justify-content: space-between;
}
/*từng khối riêng trong Layout 3*/

._1khoi i{
	color: white;
	float: left;
	font-size: 30px;
	height: 100px;
	margin-right: 20px;
}
/*căn chỉnh cho biểu tượng trong khối nhỏ*/

._1khoi p{
	font-size: 20px;
}
/*căn chỉnh chữ trong khối nhỏ*/
