#menu ul{
	list-style-type:none;
	padding:1px;
	margin:1px;
	background-color: red;
}
#menu ul li{
	display:inline;
}
#menu ul a{
text-decoration:none;
width:100px;
float:left;
background:red;
color:yellow;
font-weight:bold;
text-align:center;
line-height:35px;
border:1px solid white;
}