form{
	margin: 50px 25%;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #ccc;
	border-radius: 5px;
}
.form-group{
	margin: 5px;
	padding: 5px;
}
form label{
	display: inline-block;
	width: 15%;
}
.form-group input.input{
	border: 1px solid green;
	border-radius: 5px;
	padding: 3px 5px;
	width: 50%;
}
.control-group{
	text-align: center;
}
.btn{
	padding: 5px 15px;
	border: 1px solid gray;
	border-radius: 5px;
}
.btn-primary{
	background-color: blue;
	color: white;
}
.btn-reset{
	background-color: #999;
	color: white;
}